body{
    background-color:maroon;

}
h1{
    background-color:skyblue;
    text-align:center;
    font-size:50px;
font-family:monospace;
}
p{
    background-color:skyblue;
    text-align:center;
    font-size:30px;
}